#navbar {
    background-color: #ffffff;
}

#logo-image {
    width: 163px;
}

@media (max-width: 768px) {
    #logo-image {
        width: 163px;
    }
}

header {
    padding-top: 63px;
}

header {
    padding-bottom: 63px;
}

@media (max-width: 768px) {
    header {
        padding-top: 63px;
    }
}

@media (max-width: 768px) {
    header {
        padding-bottom: 63px;
    }
}

a.page-button-flag {
    border-radius: 25px;
}

.filled-button {
    border-radius: 25px;
}

.outlined-button {
    border-radius: 25px;
}

.btn-primary {
    border-radius: 25px;
}

.btn--blue {
    border-radius: 25px;
}

.btn {
    border-radius: 25px;
}

.btn-primary {
    border-radius: 25px;
}