.date-picker__input {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: .5rem 0;
  width: 100%;
}

.date-picker__input input {
  margin: 0;
  padding: .5rem;
  border: 2px solid #000000;
  border-radius: 0;
  height: auto;
}

.date-picker__input input:focus {
  border: 2px solid #000000;  
}

.date-slot-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.date-slot-row svg {
  margin-left: 1rem;
}

.add-date-slot-button {
  margin-top: .5rem;
}