@media (min-width: 1024px) {
  .events-event-container__layout {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 1rem;
    max-width: 940px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #f5f5f5;
  }
}

.events-event__information-image {
  max-width: 100%;
}

.event-events__nav-item svg {
  margin-right: 1rem;
}

.events-event__information {
  padding: 1rem 0;
}